<form>
  <div class="row mb-3">
    <label for="controlnum" class="col-sm-2 col-form-label">Control Number</label>
    <div class="col-sm-10">
        {{input class="form-control" value=form.controlnum name="controlnum" placeholder="Control Number" autocomplete='off'}}
    </div>
  </div>
  <div class="row mb-3">
    <label for="accname" class="col-sm-2 col-form-label">Account Name</label>
    <div class="col-sm-10">
        {{input class="form-control" value=form.accname name="accname" placeholder="Account Name" autocomplete='off'}}
    </div>
  </div>
  <div class="row mb-3">
    <label for="address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        {{input class="form-control" value=form.address name="address" placeholder="Address" autocomplete='off'}}
    </div>
  </div>
  <div class="row mb-3">
    <label for="area" class="col-sm-2 col-form-label">Area</label>
    <div class="col-sm-10">
        {{input class="form-control" value=form.area name="area" placeholder="Area" autocomplete='off'}}
    </div>
  </div>
  <div class="row mb-3">
    <label for="value" class="col-sm-2 col-form-label">Value</label>
    <div class="col-sm-10">
        {{input class="form-control" value=form.value name="value" placeholder="Value" autocomplete='off'}}
    </div>
  </div>
  <div>
    <button {{action 'add'}} type="button" class="btn btn-primary">Add</button>
    <button {{action 'cancel'}} type="button" class="btn btn-danger">Cancel</button>
  </div>
</form>